ul 
{
  list-style-type: none;   // remove unordered symbols
  border: 1px solid;
  margin: 0px;
  padding: 30px;
  overflow: hidden;
}
li
{
  float:left;
}
li a
{
  padding: 60px;
  font-size:30px;
  text-decoration: none;   // remove underline
}

body
{
background-color:lightpink;
}
h1
{
font-size:60px;
font-family:Times New Roman;
TEXT-ALIGN:CENTER;
MARGIN:5PX 10PX 40PX 10PX;
COLOR: RED;
}
h2
{
font-size:45px;
font-family:TIMES NEW ROMAN;
TEXT-ALIGN:CENTER;
COLOR:RED;
font-family:lucida handwriting;
} p {
font-size: 25px;
FONT-STYLE: ITALIC;
TEXT-ALIGN:JUSTIFY;
MARGIN:100PX 180PX 10PX 180PX;
}
H6
{
FONT-SIZE: 20PX;
TEXT-ALIGN:CENTER;
MARGIN-TOP: 100PX;
}
table caption
{
  font-size: 40px;
}